.linkContainer
	display: flex
	justify-content: center
	align-items: center
	cursor: pointer
	gap: 4px
	a
		border: '1px solid #dae4ea',
		borderRadius: '5px',
		backgroundColor: 'transparent',
		cursor: 'pointer',
		text-decoration: none
		color: black

	.imgContainer
		width: 10px
		height: 10px
		display: flex
		justify-content: center
		align-items: center
		padding: 1px
		border: 1px solid #fc5c16
		border-radius: 50%
