body
	margin: 0 auto
	padding: 0
	box-sizing: border-box
	background-color: #fafafa
	
	.wrapper 
		margin: 32px auto
		background-color: #ffffff
		width: 1142px
		border-radius: 16px
		box-shadow: 0px 12px 27px 0px #5b77861a
		padding-bottom: 20px


